<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

		<div class="site-title-social">
			<ul class="contact-list">
				{% include social_links.html %}
			</ul>
		</div>

    <nav class="site-nav">
      {% for link in site.data.navigation.main %}
        {% if link.url contains "http" %}
          {% assign url = link.url %}
        {% else %}
          {% assign url = link.url | relative_url %}
        {% endif %}
        <a class="page-link" href="{{ url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>

    <!-- The Modal -->
    <div id="mailchimpModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        {% include mailchimp.html %}
      </div>

    </div>

  </div>

</header>
