<li class="social-links">
	{% if site.twitter_username %}
	<a href="https://twitter.com/{{ site.twitter_username }}">
		<i class="fa fa-twitter"></i>
	</a>
	{% endif %}
	{% if site.github_username %}
	<a href="https://github.com/{{ site.github_username }}">
		<i class="fa fa-github"></i>
	</a>
	{% endif %}
	{% if site.linkedin_username %}
	<a href="https://linkedin.com/in/{{ site.linkedin_username }}">
		<i class="fa fa-linkedin"></i>
	</a>
	{% endif %}
  <a class="mailchimpBtn" href="{{ site.base_url }}/subscribe"><i class="fa fa-envelope-o"></i></a>
  <a href="{{ feed_path | absolute_url }}"><i class="fa fa-rss"></i></a>
</li>
